body, html {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

body {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.score-container {
  position: fixed;
  width: fit-content;
  user-select: none;
  color: #fff;
  z-index: 20;
}

.score-container span.score {
  font-size: 1.2rem;
}

.dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(228, 228, 228);
  padding: 20px;
  border: 2px solid black;
  text-align: center;
  z-index: 50;
  border-radius: 8px;
}

.dialog button {
  background: black;
  color: white;
  border-radius: 8px;
  padding: 4px 16px;
  cursor: pointer;
}